section#about.about 
  .about__poligon-bg.about__poligon-bg--1
  .about__poligon-bg.about__poligon-bg--2
  .about__poligon-bg.about__poligon-bg--3
  .about__poligon-bg.about__poligon-bg--4
  .main-container 
    .about__inner
      .about__header
        h2.about__title О НАС

        .about__text 
          p RP UNION — это крупнейшая сеть покерных клубов на платформах PPPOKER, UPOKER, POKERBROS, KKPOKER, X-POKER, CLUBGG.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent porta metus ac ex sodales rutrum a nec lectus. Curabitur in sem ut justo dictum facilisis a sit amet metus. Quisque egestas metus ac ex luctus elementum. Donec eget congue dolor vonec iaculis. 
        
        a(href="").btn.btn--yellow.btn--lg.text-uppercase.about__header-btn подробнее 
      
      ul.about-list
        li.about-list__item.about-list__item--1
          img(src="img/about/about-1.jpg", alt="").about-list__img

          .about-list__inner
            .about-list__date 18.11.21

            .about-list__title All in or #[br]fold

            .about-list__text 
              p Самое популярное приложение для #[br]онлайн-покера PPPoker обновило #[br]ассортимент своих…

            svg.icon.icon--angle-o-right.about-list__arrow
              use(href="img/sprite.svg#angle-o-right")

          a(href="").about-list__link-to
            
        li.about-list__item.about-list__item--2
          img(src="img/about/about-2.jpg", alt="").about-list__img

          .about-list__inner
            .about-list__date 18.11.21

            .about-list__title All in or #[br]fold

            .about-list__text 
              p Самое популярное приложение для #[br]онлайн-покера PPPoker обновило #[br]ассортимент своих…

            svg.icon.icon--angle-o-right.about-list__arrow
              use(href="img/sprite.svg#angle-o-right")

          a(href="").about-list__link-to

        li.about-list__item.about-list__item--3
          img(src="img/about/about-1.jpg", alt="").about-list__img

          .about-list__inner
            .about-list__date 18.11.21

            .about-list__title All in or #[br]fold

            .about-list__text 
              p Самое популярное приложение для #[br]онлайн-покера PPPoker обновило #[br]ассортимент своих…
              
            svg.icon.icon--angle-o-right.about-list__arrow
              use(href="img/sprite.svg#angle-o-right")

          a(href="").about-list__link-to

        li.about-list__item.about-list__item--4
          img(src="img/about/about-2.jpg", alt="").about-list__img

          .about-list__inner
            .about-list__date 18.11.21

            .about-list__title All in or #[br]fold

            .about-list__text 
              p Самое популярное приложение для #[br]онлайн-покера PPPoker обновило #[br]ассортимент своих…
              
            svg.icon.icon--angle-o-right.about-list__arrow
              use(href="img/sprite.svg#angle-o-right")

          a(href="").about-list__link-to
