section#benefits.benefits
  .benefits__poligon-bg.benefits__poligon-bg--3
  .benefits__poligon-bg.benefits__poligon-bg--4
  .benefits__poligon-bg.benefits__poligon-bg--5
  .main-container 
    .benefits__poligon-bg.benefits__poligon-bg--1
    .benefits__poligon-bg.benefits__poligon-bg--2
    .benefits__inner
      .benefits__header
        h2.benefits__title Наши преимущества
        p Почуствуй разницу уже сегодня, играя с нами
      ul.benefits-list
        li.benefits-list__item
          .benefits-list__inner
            .benefits-list__img-w
              img(src="img/benefits-bg.svg", alt="").benefits-list__img

            .benefits-list__cont
              h3.benefits-list__title Быстрый вывод

              p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
      
        li.benefits-list__item
          .benefits-list__inner
            .benefits-list__img-w
              img(src="img/benefits-bg.svg", alt="").benefits-list__img

            .benefits-list__cont
              h3.benefits-list__title Быстрый вывод

              p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.

        li.benefits-list__item
          .benefits-list__inner
            .benefits-list__img-w
              img(src="img/benefits-bg.svg", alt="").benefits-list__img

            .benefits-list__cont
              h3.benefits-list__title Быстрый вывод

              p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.

        li.benefits-list__item
          .benefits-list__inner
            .benefits-list__img-w
              img(src="img/benefits-bg.svg", alt="").benefits-list__img

            .benefits-list__cont
              h3.benefits-list__title Быстрый вывод

              p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.

        li.benefits-list__item
          .benefits-list__inner
            .benefits-list__img-w
              img(src="img/benefits-bg.svg", alt="").benefits-list__img

            .benefits-list__cont
              h3.benefits-list__title Быстрый вывод

              p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.

      .benefits__footer 
        a(href="").btn.btn--lg.btn--yellow.text-uppercase ВСТУПИТЬ Сейчас 