section#download.download
  .main-container
    h2.download__title СКАЧАТЬ ПРИЛОЖЕНИЯ
  
    .download__trambs-inner
      .swiper.download-trambs#download-trambs
        .swiper-wrapper
          .swiper-slide
            .download-trambs__inner
              img(src="img/download/download-1.png", alt="", width="61").download-trambs__img

          .swiper-slide
            .download-trambs__inner
              img(src="img/download/download-2.png", alt="", width="55").download-trambs__img
              
          .swiper-slide
            .download-trambs__inner
              img(src="img/download/download-3.png", alt="", width="62").download-trambs__img
              
          .swiper-slide
            .download-trambs__inner
              img(src="img/download/download-4.png", alt="", width="46").download-trambs__img

          .swiper-slide
            .download-trambs__inner
              img(src="img/download/download-5.png", alt="", width="94").download-trambs__img
      
      #download-trambs-prev.download-trambs__arrow.download-trambs__arrow--prev
          svg.icon.icon--angle-left
            use(href="img/sprite.svg#angle-left")

      #download-trambs-next.download-trambs__arrow.download-trambs__arrow--next
        svg.icon.icon--angle-right
          use(href="img/sprite.svg#angle-right")

    .swiper.download-slider#download-slider
      .swiper-wrapper 
        .swiper-slide
          .download-slider__inner 
            .download-slider__cont
              .download-slider__img-w
                img(src="img/download/download-3-big.png", alt="").download-slider__img

              .download-slider__text
                img(src="img/download/p-bros.png", alt="", width="330").download-slider__title-logo

                p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
            
            .download-slider__footer
              ul.download-app
                li.download-app__item
                  a(href="") 
                    img(src="img/google-play.svg", alt="").download-app__img

                li.download-app__item
                  a(href="") 
                    img(src="img/app-store.svg", alt="").download-app__img
              
        .swiper-slide
          .download-slider__inner 
            .download-slider__cont
              .download-slider__img-w
                img(src="img/download/download-3-big.png", alt="").download-slider__img

              .download-slider__text
                img(src="img/download/p-bros.png", alt="", width="330").download-slider__title-logo

                p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
            
            .download-slider__footer
              ul.download-app
                li.download-app__item
                  a(href="") 
                    img(src="img/google-play.svg", alt="").download-app__img

                li.download-app__item
                  a(href="") 
                    img(src="img/app-store.svg", alt="").download-app__img

              
        .swiper-slide
          .download-slider__inner 
            .download-slider__cont
              .download-slider__img-w
                img(src="img/download/download-3-big.png", alt="").download-slider__img

              .download-slider__text
                img(src="img/download/p-bros.png", alt="", width="330").download-slider__title-logo

                p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
            
            .download-slider__footer
              ul.download-app
                li.download-app__item
                  a(href="") 
                    img(src="img/google-play.svg", alt="").download-app__img

                li.download-app__item
                  a(href="") 
                    img(src="img/app-store.svg", alt="").download-app__img

              
        .swiper-slide
          .download-slider__inner 
            .download-slider__cont
              .download-slider__img-w
                img(src="img/download/download-3-big.png", alt="").download-slider__img

              .download-slider__text
                img(src="img/download/p-bros.png", alt="", width="330").download-slider__title-logo

                p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
            
            .download-slider__footer
              ul.download-app
                li.download-app__item
                  a(href="") 
                    img(src="img/google-play.svg", alt="").download-app__img

                li.download-app__item
                  a(href="") 
                    img(src="img/app-store.svg", alt="").download-app__img

              
        .swiper-slide
          .download-slider__inner 
            .download-slider__cont
              .download-slider__img-w
                img(src="img/download/download-3-big.png", alt="").download-slider__img

              .download-slider__text
                img(src="img/download/p-bros.png", alt="", width="330").download-slider__title-logo

                p Гарантия сохранности средств. Моментальный вывод выигрыша. Пополнение счета различными способами оплаты. Российский рубль, украинская гривна, доллар США и евро, Skrill, QIWI, Bitcoin, Tether.
            
            .download-slider__footer
              ul.download-app
                li.download-app__item
                  a(href="") 
                    img(src="img/google-play.svg", alt="").download-app__img

                li.download-app__item
                  a(href="") 
                    img(src="img/app-store.svg", alt="").download-app__img