.footer
  .main-container
    img(src="img/footer.svg", alt="").footer__bg

    .footer__inner
      img(src="img/logo-black.svg", alt="").footer__logo

      ul.footer-nav
        li.footer-nav__item
          a.footer-nav__link(href="") Клубы
        li.footer-nav__item
          a.footer-nav__link(href="") Наши союзы
        li.footer-nav__item
          a.footer-nav__link(href="") Турниры
        li.footer-nav__item
          a.footer-nav__link(href="") Агентам
        li.footer-nav__item
          a.footer-nav__link(href="") Блог
        li.footer-nav__item
          a.footer-nav__link(href="") О Нас