#header.header 
	.main-container
		.header__inner 
			.header__logo
				img(src="img/logo.svg", alt="").header__logo-img
			ul.menu
				li.menu__item
					a.menu__link(href="") Клубы
				li.menu__item
					a.menu__link(href="") Наши союзы
				li.menu__item
					a.menu__link(href="") Турниры
				li.menu__item
					a.menu__link(href="") Агентам
				li.menu__item
					a.menu__link(href="") Блог
				li.menu__item
					a.menu__link(href="") О Нас

			.lang
				.lang__selected
					span.lang__selected-name Русский
					.lang__selected-icon
						img(src="img/lang/ru.png", alt="")
				
				.lang__drop
					.lang__drop-inner
						ul.lang-drop-list
							li.lang-drop-list__item
								a(href="").lang-drop-list__link
									span.lang-drop-list__link-icon
										img(src="img/lang/ru.png", alt="")
									span.lang-drop-list__link-text Русский

							li.lang-drop-list__item
								a(href="").lang-drop-list__link
									span.lang-drop-list__link-icon
										img(src="img/lang/en.png", alt="")
									span.lang-drop-list__link-text English

							li.lang-drop-list__item
								a(href="").lang-drop-list__link
									span.lang-drop-list__link-icon
										img(src="img/lang/sp.png", alt="")
									span.lang-drop-list__link-text Spanish

