.partners
  .main-container
    h2.partners__title НАШИ ПАРТЕНРЫ

    .swiper.partners-slider
      .swiper-wrapper
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-1.png", alt="").partners-slider__img.partners-slider__img--1

        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-2.png", alt="").partners-slider__img.partners-slider__img--2
            
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-3.png", alt="").partners-slider__img.partners-slider__img--3
            
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-4.png", alt="").partners-slider__img.partners-slider__img--4
            
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-5.png", alt="").partners-slider__img.partners-slider__img--5
            
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-6.png", alt="").partners-slider__img.partners-slider__img--6
            
        .swiper-slide
          a(href="").partners-slider__inner
            img(src="img/partners/partners-7.png", alt="").partners-slider__img.partners-slider__img--7

