section#tournaments.tournaments
  .main-container
    .swiper.tournaments-slider
      .swiper-wrapper
        .swiper-slide
          a(href="").tournaments-slider__inner
            img(src="img/tournaments-2.jpg", alt="").tournaments-slider__img

        .swiper-slide
          a(href="").tournaments-slider__inner
            img(src="img/tournaments-3.jpg", alt="").tournaments-slider__img

        .swiper-slide
          a(href="").tournaments-slider__inner
            img(src="img/tournaments-1.jpg", alt="").tournaments-slider__img