section#u-club.u-club
  .main-container
    h2.u-club__title Вибери свой клуб

    ul.u-club-filter
      li.u-club-filter__item
        label.u-club-filter__inner
          input(type="checkbox" checked).u-club-filter__input
          .u-club-filter__cont 
            .u-club-filter__cont-status
            | PPPoker

      li.u-club-filter__item
        label.u-club-filter__inner
          input(type="checkbox" checked).u-club-filter__input
          .u-club-filter__cont 
            .u-club-filter__cont-status
            | PokerBros
            
      li.u-club-filter__item
        label.u-club-filter__inner
          input(type="checkbox").u-club-filter__input
          .u-club-filter__cont 
            .u-club-filter__cont-status
            | ClubGG
            
      li.u-club-filter__item
        label.u-club-filter__inner
          input(type="checkbox" checked).u-club-filter__input
          .u-club-filter__cont 
            .u-club-filter__cont-status
            | SupremaPoker
            
      li.u-club-filter__item
        label.u-club-filter__inner
          input(type="checkbox").u-club-filter__input
          .u-club-filter__cont 
            .u-club-filter__cont-status
            | KKPoker

    .main-container
      .u-club-slider-wrap
        .swiper.u-club-slider
          .swiper-wrapper
            .swiper-slide
              .u-club-slider__inner 
                h3.u-club-slider__title Hakuna Matata
                .u-club-slider__id ID 1488420
                .u-club-slider__img-w
                  img(src="img/u-club-slider.png", alt="").u-club-slider__img

                .u-club-slider__cont
                  .u-club-slider__cont-inner  
                    .u-club-slider__cont-img-w
                      img(src="img/russia.svg", alt="").u-club-slider__cont-img

                    ul.u-club-s-list
                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--flag
                            use(href="img/sprite.svg#flag")
                        .u-club-s-list__label Страна:
                        .u-club-s-list__text-info Россия

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--boxes
                            use(href="img/sprite.svg#boxes")
                        .u-club-s-list__label Союз:
                        .u-club-s-list__text-info FreshBree

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--coins
                            use(href="img/sprite.svg#coins")
                        .u-club-s-list__label Рейкбек:
                        .u-club-s-list__text-info 30-50%
                    
                    .u-club-slider__rate 1 chip = 1 USD
                  
                  .u-club-slider__btn-w
                    button.btn.btn--yellow ВСТУПИТЬ

            .swiper-slide
              .u-club-slider__inner 
                h3.u-club-slider__title Hakuna Matata
                .u-club-slider__id ID 1488420
                .u-club-slider__img-w
                  img(src="img/u-club-slider.png", alt="").u-club-slider__img
                                
                .u-club-slider__cont
                  .u-club-slider__cont-inner  
                    .u-club-slider__cont-img-w
                      img(src="img/russia.svg", alt="").u-club-slider__cont-img

                    ul.u-club-s-list
                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--flag
                            use(href="img/sprite.svg#flag")
                        .u-club-s-list__label Страна:
                        .u-club-s-list__text-info Россия

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--boxes
                            use(href="img/sprite.svg#boxes")
                        .u-club-s-list__label Союз:
                        .u-club-s-list__text-info FreshBree

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--coins
                            use(href="img/sprite.svg#coins")
                        .u-club-s-list__label Рейкбек:
                        .u-club-s-list__text-info 30-50%
                    
                    .u-club-slider__rate 1 chip = 1 USD
                                    
                  .u-club-slider__btn-w
                    button.btn.btn--yellow ВСТУПИТЬ
              
            .swiper-slide
              .u-club-slider__inner 
                h3.u-club-slider__title Hakuna Matata
                .u-club-slider__id ID 1488420
                .u-club-slider__img-w
                  img(src="img/u-club-slider.png", alt="").u-club-slider__img
                                
                .u-club-slider__cont
                  .u-club-slider__cont-inner  
                    .u-club-slider__cont-img-w
                      img(src="img/russia.svg", alt="").u-club-slider__cont-img

                    ul.u-club-s-list
                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--flag
                            use(href="img/sprite.svg#flag")
                        .u-club-s-list__label Страна:
                        .u-club-s-list__text-info Россия

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--boxes
                            use(href="img/sprite.svg#boxes")
                        .u-club-s-list__label Союз:
                        .u-club-s-list__text-info FreshBree

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--coins
                            use(href="img/sprite.svg#coins")
                        .u-club-s-list__label Рейкбек:
                        .u-club-s-list__text-info 30-50%
                    
                    .u-club-slider__rate 1 chip = 1 USD
                                    
                  .u-club-slider__btn-w
                    button.btn.btn--yellow ВСТУПИТЬ
              
            .swiper-slide
              .u-club-slider__inner 
                h3.u-club-slider__title Hakuna Matata
                .u-club-slider__id ID 1488420
                .u-club-slider__img-w
                  img(src="img/u-club-slider.png", alt="").u-club-slider__img
                                
                .u-club-slider__cont
                  .u-club-slider__cont-inner  
                    .u-club-slider__cont-img-w
                      img(src="img/russia.svg", alt="").u-club-slider__cont-img
                    ul.u-club-s-list
                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--flag
                            use(href="img/sprite.svg#flag")
                        .u-club-s-list__label Страна:
                        .u-club-s-list__text-info Россия

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--boxes
                            use(href="img/sprite.svg#boxes")
                        .u-club-s-list__label Союз:
                        .u-club-s-list__text-info FreshBree

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--coins
                            use(href="img/sprite.svg#coins")
                        .u-club-s-list__label Рейкбек:
                        .u-club-s-list__text-info 30-50%

                    .u-club-slider__rate 1 chip = 1 USD
                                    
                  .u-club-slider__btn-w
                    button.btn.btn--yellow ВСТУПИТЬ
              
            .swiper-slide
              .u-club-slider__inner 
                h3.u-club-slider__title Hakuna Matata
                .u-club-slider__id ID 1488420
                .u-club-slider__img-w
                  img(src="img/u-club-slider.png", alt="").u-club-slider__img
                                
                .u-club-slider__cont
                  .u-club-slider__cont-inner  
                    .u-club-slider__cont-img-w
                      img(src="img/russia.svg", alt="").u-club-slider__cont-img
                    ul.u-club-s-list
                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--flag
                            use(href="img/sprite.svg#flag")
                        .u-club-s-list__label Страна:
                        .u-club-s-list__text-info Россия

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--boxes
                            use(href="img/sprite.svg#boxes")
                        .u-club-s-list__label Союз:
                        .u-club-s-list__text-info FreshBree

                      li.u-club-s-list__item
                        .u-club-s-list__icon
                          svg.icon.icon--coins
                            use(href="img/sprite.svg#coins")
                        .u-club-s-list__label Рейкбек:
                        .u-club-s-list__text-info 30-50%
                        
                    .u-club-slider__rate 1 chip = 1 USD
                                    
                  .u-club-slider__btn-w
                    button.btn.btn--yellow ВСТУПИТЬ
          
        .swiper-button-prev
          svg.icon.icon--angle-left
            use(href="img/sprite.svg#angle-left")
        .swiper-button-next
          svg.icon.icon--angle-right
            use(href="img/sprite.svg#angle-right")

