section#union.union
  .main-container
    h2.union__title НАШИ СОЮЗЫ

    .swiper.u-club-slider.u-club-slider--union
      .swiper-wrapper
        .swiper-slide
          .u-club-slider__inner 
            h3.u-club-slider__title FRESH BREEZE
            .u-club-slider__id ID 1488420
            .u-club-slider__img-w
              img(src="img/union.png", alt="").u-club-slider__img

            .u-club-slider__cont
              .u-club-slider__cont-inner  
                ul.u-club-s-list
                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--flag
                        use(href="img/sprite.svg#flag")
                    .u-club-s-list__label Страна:
                    .u-club-s-list__text-info Россия

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--boxes
                        use(href="img/sprite.svg#boxes")
                    .u-club-s-list__label Союз:
                    .u-club-s-list__text-info FreshBree

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--coins
                        use(href="img/sprite.svg#coins")
                    .u-club-s-list__label Рейкбек:
                    .u-club-s-list__text-info 30-50%
                          
        .swiper-slide
          .u-club-slider__inner 
            h3.u-club-slider__title FRESH BREEZE
            .u-club-slider__id ID 1488420
            .u-club-slider__img-w
              img(src="img/union.png", alt="").u-club-slider__img

            .u-club-slider__cont
              .u-club-slider__cont-inner  
                ul.u-club-s-list
                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--flag
                        use(href="img/sprite.svg#flag")
                    .u-club-s-list__label Страна:
                    .u-club-s-list__text-info Россия

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--boxes
                        use(href="img/sprite.svg#boxes")
                    .u-club-s-list__label Союз:
                    .u-club-s-list__text-info FreshBree

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--coins
                        use(href="img/sprite.svg#coins")
                    .u-club-s-list__label Рейкбек:
                    .u-club-s-list__text-info 30-50%
                          
        .swiper-slide
          .u-club-slider__inner 
            h3.u-club-slider__title FRESH BREEZE
            .u-club-slider__id ID 1488420
            .u-club-slider__img-w
              img(src="img/union.png", alt="").u-club-slider__img

            .u-club-slider__cont
              .u-club-slider__cont-inner  
                ul.u-club-s-list
                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--flag
                        use(href="img/sprite.svg#flag")
                    .u-club-s-list__label Страна:
                    .u-club-s-list__text-info Россия

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--boxes
                        use(href="img/sprite.svg#boxes")
                    .u-club-s-list__label Союз:
                    .u-club-s-list__text-info FreshBree

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--coins
                        use(href="img/sprite.svg#coins")
                    .u-club-s-list__label Рейкбек:
                    .u-club-s-list__text-info 30-50%
                          
        .swiper-slide
          .u-club-slider__inner 
            h3.u-club-slider__title FRESH BREEZE
            .u-club-slider__id ID 1488420
            .u-club-slider__img-w
              img(src="img/union.png", alt="").u-club-slider__img

            .u-club-slider__cont
              .u-club-slider__cont-inner  
                ul.u-club-s-list
                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--flag
                        use(href="img/sprite.svg#flag")
                    .u-club-s-list__label Страна:
                    .u-club-s-list__text-info Россия

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--boxes
                        use(href="img/sprite.svg#boxes")
                    .u-club-s-list__label Союз:
                    .u-club-s-list__text-info FreshBree

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--coins
                        use(href="img/sprite.svg#coins")
                    .u-club-s-list__label Рейкбек:
                    .u-club-s-list__text-info 30-50%
                          
        .swiper-slide
          .u-club-slider__inner 
            h3.u-club-slider__title FRESH BREEZE
            .u-club-slider__id ID 1488420
            .u-club-slider__img-w
              img(src="img/union.png", alt="").u-club-slider__img

            .u-club-slider__cont
              .u-club-slider__cont-inner  
                ul.u-club-s-list
                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--flag
                        use(href="img/sprite.svg#flag")
                    .u-club-s-list__label Страна:
                    .u-club-s-list__text-info Россия

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--boxes
                        use(href="img/sprite.svg#boxes")
                    .u-club-s-list__label Союз:
                    .u-club-s-list__text-info FreshBree

                  li.u-club-s-list__item
                    .u-club-s-list__icon
                      svg.icon.icon--coins
                        use(href="img/sprite.svg#coins")
                    .u-club-s-list__label Рейкбек:
                    .u-club-s-list__text-info 30-50%
                
