.welcome 
  .welcome__poligon-bg.welcome__poligon-bg--1
  .welcome__poligon-bg.welcome__poligon-bg--2
  .main-container 
    .welcome__inner
      .welcome__cont
        h1.welcome__title Крупная сеть #[span.br онлайн покерних клубов]
        p Становитесь лучше, играя только с #[span.br лучшими играками.]

        ul.w-nav
          li.w-nav__item
            button.w-nav__btn.w-nav__btn--1(data-phone="w-phones-item-1")
              span.w-nav__btn-img-w
                img(src="img/welcome/w-nav-1.png", alt="").w-nav__btn-img

              span.w-nav__btn-img-h
                img(src="img/welcome/w-nav-h-1.png", alt="").w-nav__btn-img

          li.w-nav__item
            button.w-nav__btn.w-nav__btn--2(data-phone="w-phones-item-2")
              span.w-nav__btn-img-w
                img(src="img/welcome/w-nav-2.png", alt="").w-nav__btn-img

              span.w-nav__btn-img-h
                img(src="img/welcome/w-nav-h-2.png", alt="").w-nav__btn-img
                
          li.w-nav__item
            button.w-nav__btn.w-nav__btn--3(data-phone="w-phones-item-3")
              span.w-nav__btn-img-w
                img(src="img/welcome/w-nav-3.png", alt="").w-nav__btn-img

              span.w-nav__btn-img-h
                img(src="img/welcome/w-nav-h-3.png", alt="").w-nav__btn-img
      
      .welcome__img-w
        .welcome__img-w-poligon-bg.welcome__img-w-poligon-bg--1
        .welcome__img-w-poligon-bg.welcome__img-w-poligon-bg--2
        .welcome__img-w-inner
          .w-phones
            #w-phones-item-1.w-phones__item.w-phones__item--1
              img(src="img/w-phones/w-phones-1.png", alt="").w-phones__img
            
            #w-phones-item-2.w-phones__item.w-phones__item--2
              img(src="img/w-phones/w-phones-2.png", alt="").w-phones__img
                          
            #w-phones-item-3.w-phones__item.w-phones__item--3
              img(src="img/w-phones/w-phones-3.png", alt="").w-phones__img
      
      button.welcome__next-section
        svg.icon.icon--down-arrows
          use(href="img/sprite.svg#down-arrows")
