.download {
  padding-top: 80px;
  padding-bottom: 30px;

  &__title {
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 54px;
  }

  &__trambs-inner {
    position: relative;
    width: 766px;
    margin: auto;
  }
}

.download-trambs {
  &__arrow {
    width: 20px;
    height: 38px;
    color: #E0AF47;
    position: absolute;
    top: 50%;
    z-index: 50;
    margin-top: -19px;
    cursor: pointer;

    .icon {
      width: 100%;
      height: 100%;
    }

    &--prev {
      left: -44px;
    }

    &--next {
      right: -44px;
    }
  }

  .swiper-wrapper {
    align-items: center;
    height: 146px;
  }

  .swiper-slide {
    opacity: 0.69;
    transition: 0.3s opacity ease;
    width: 154px;
    height: 146px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    &.swiper-slide-active {
      opacity: 1;

      .download-trambs__inner {
        width: 146px;
        height: 146px;
      }
    }
  }

  &__inner {
    width: 120px;
    height: 120px;
    border-radius: 40px;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    outline: 0;
    transition: 0.3s all ease;
    padding: 10px;
  }
}

.download-slider {
  width: 924px;
  margin: 94px auto 0;
  overflow: visible;

  .swiper-slide {
    padding: 0 22px;
    opacity: 0.68;
    transition: 0.3s opacity ease;
    color: #FFFFFF;

    
    &.swiper-slide-active {
      opacity: 1;

      .download-slider__inner {
        
      }
    }
  }

  &__inner {
    background: #202020;
    box-shadow: 0px 2px 4px -1px rgba(255, 255, 255, 0.2), 0px 1px 10px rgba(255, 255, 255, 0.12), 0px 4px 12px rgba(255, 255, 255, 0.14);
    border-radius: 70px;
    height: 550px;
  }

  &__cont {
    display: flex;
    flex-wrap: wrap;
    padding: 78px 47px 0;
  }

  &__text {
    flex: 1;
    padding-left: 44px;
    padding-top: 77px;
    font-weight: 500;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;

    p {
      margin: 0 0 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__img-w {
    width: 315px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__title-logo {
    max-width: 100%;
    display: block;
    margin: 0 0 24px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 37px 0 0;
  }
}

.download-app {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 27px;
    }
  }

  &__img {
    display: block;
    height: 56px;
  }
}