.header {
  padding-top: 40px;
  padding-bottom: 40px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 500;
  transition: 0.3s all ease;

  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__logo {
    width: 124px;

    &-img {
      display: block;
      width: 100%;
    }
  }

  &--sticky {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #161616;
  }
}

.menu {
  padding: 0;
  margin: 0 0 0 59px;
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  &__item {
    &:not(:last-child) {
      margin-right: 54px;
    }
  }

  &__link {
    color: #fff;
    font-weight: 500;
    text-decoration: none;
    transition: 0.3s color ease;

    &:hover {
      color: #DEAD45;
    }
  }
}

.lang {
  margin-left: auto;
  position: relative;

  &__selected {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;

    &:before {
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 5px 5px 0 5px;
      border-color: #fff transparent transparent transparent;
      display: block;
      content: "";
      position: absolute;
      top: 17px;
      left: -22px;
    }

    &-icon {
      width: 35px;
      margin-left: 18px;

      img {
        display: block;
        width: 100%;
      }
    }

    &-name {
      color: #fff;
      display: block;
      font-weight: 500;
      font-size: 16px;
      line-height: 1.375;
    }
  }

  &__drop {
    padding-top: 10px;
    position: absolute;
    left: -48px;
    top: 100%;
    width: 202px;
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transform: translate(0,50px);
    transition: 0.3s all ease;

    &-inner {
      background: #FFFFFF;
      box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2), 0px 1px 10px rgba(0, 0, 0, 0.12), 0px 4px 5px rgba(0, 0, 0, 0.14);
      border-radius: 13px;
      position: relative;
      padding: 10px 0;
      min-height: 50px;

      &:before {
        position: absolute;
        left: 26px;
        bottom: 100%;
        display: block;
        content: "";
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 5px 5px 5px;
        border-color: transparent transparent #fff transparent;
      }
    }
  }

  &:hover {
    .lang__drop {
      opacity: 1;
      visibility: visible;
      z-index: 200;
      transform: translate(0,0);
    }
  }
}

.lang-drop-list {
  padding: 0;
  margin: 0;
  list-style: none;

  &__item {
    &:not(:last-child) {
      border-bottom: 1px solid #EAEAEA;
    }
  }

  &__link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 12px 20px;
    text-decoration: none;
    color: #2B2B2B;
    transition: 0.3s color ease;

    &:hover {
      color: #DEAD45;
    }

    &-icon {
      width: 25px;

      img {
        display: block;
        width: 100%;
      }
    }

    &-text {
      flex: 1;
      padding-left: 17px;
      font-weight: 600;
      font-size: 16px;
      line-height: 1.375;
      display: block;
    }
  }
}

@media(max-width: 1600px) {
  .header {
    padding-top: 30px;
    padding-bottom: 30px;

    &--sticky {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}