extends layout/_layout

block content
  include blocks/_header
  include blocks/_welcome
  include blocks/_u-club
  include blocks/_benefits
  include blocks/_tournaments
  include blocks/_about
  include blocks/_partners
  include blocks/_download
  include blocks/_union