doctype html
html(lang="en")
	block head
		head
			meta(charset="utf-8")
			title Title your site
			meta(content="width=device-width, initial-scale=1" name="viewport")
			meta(content="ie=edge" http-equiv="x-ua-compatible")
			link(rel="stylesheet" href="css/main.css")
	body
		#overlay
		#wrap
			#main
				block content
			include ../blocks/_footer
		script(src='js/swiper-bundle.min.js')
		script(src='js/app.js')
		block scripts
